*{margin:0;padding:0;box-sizing: border-box;}

body,html
{
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;

    background: rgb(59, 59, 59);
    color:white;
}


h1
{
    text-align: center;
}

.underline
{
    font-size: 48px;
    text-align: center;

    display:inline-block;
    border-bottom: 2px solid rgb(62, 74, 245);
    padding: 0px 24px 0px 24px;
}

.box
{
    display:flex;
    justify-content: center;
    
    min-height: 50vh;

    align-self: center;

    max-width: 950px;
    text-align: center;
 
    border-radius: 24px;
    background:white;
    color:black;

    padding: 48px;
    margin:auto;
}

.sp-top-75
{
    margin-top: 75px;
}